# Dataset

In [1]:
import numpy as np  
import pandas as pd 
import seaborn as sns
import os
import matplotlib.pyplot as plt

## 1. Data Collection 
### Read Data

In [2]:
path = "../data"
res = os.listdir(path)
sorted(res)

['.DS_Store',
 'EV_Population.csv',
 'EV_PopulationByCounty.csv',
 'EV_Population_Non_Zero_Range.csv',
 'EV_Population_TimeSeries_EVType.csv',
 'WA.geo.json',
 'WA.geojson',
 'counties-albers-10m.json',
 'countries-10m.json',
 'makes.csv',
 'makes.json',
 'pop.json',
 'population.json',
 'test.csv',
 'test.json',
 'topc.csv',
 'types.json',
 'une.csv',
 'unemployment.csv',
 'united_states_washington_administrative_boundaries_level6_counties_polygon.geojson',
 'us.json',
 'zipcode.txt']

In [3]:
dfhis = pd.read_csv(os.path.join(path, 'EV_populationByCounty.csv'))
dfhis

,Date,County,State,Vehicle Primary Use,Battery Electric Vehicles (BEVs),Plug-In Hybrid Electric Vehicles (PHEVs),Electric Vehicle (EV) Total,Non-Electric Vehicle Total,Total Vehicles,Percent Electric Vehicles
0,2020-06-30,Pend Oreille,WA,Passenger,7,6,13,9241,9254,0.14
1,2017-07-31,Columbia,WA,Truck,0,0,0,1533,1533,0.00
2,2017-06-30,Okaloosa,FL,Passenger,1,0,1,185,186,0.54
3,2021-12-31,Stafford,VA,Passenger,2,1,3,94,97,3.09
4,2022-03-31,Camden,NJ,Passenger,0,1,1,13,14,7.14
...,...,...,...,...,...,...,...,...,...,...
19001,2022-01-31,Mason,WA,Truck,0,0,0,21183,21183,0.00
19002,2017-09-30,Sacramento,CA,Passenger,1,0,1,338,339,0.29
19003,2023-07-31,Douglas,WA,Passenger,213,65,278,28577,28855,0.96
19004,2017-02-28,Grays Harbor,WA,Passenger,27,24,51,44251,44302,0.12
19005,2017-11-30,Chelan,WA,Truck,0,0,0,21519,21519,0.00

In [4]:
dfhis = dfhis[dfhis['State'] == 'WA']

dfhis['Date'] = pd.to_datetime(dfhis['Date'])

filtered_df = dfhis[(dfhis['Date'].dt.year == 2023) & (dfhis['Date'].dt.month == 9)]
filtered_df

/var/folders/k7/ntbmdl3x2hj3c5dvl5l3c9lm0000gn/T/ipykernel_3463/3798815106.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  dfhis['Date'] = pd.to_datetime(dfhis['Date'])

,Date,County,State,Vehicle Primary Use,Battery Electric Vehicles (BEVs),Plug-In Hybrid Electric Vehicles (PHEVs),Electric Vehicle (EV) Total,Non-Electric Vehicle Total,Total Vehicles,Percent Electric Vehicles
361,2023-09-30,Skamania,WA,Truck,1,0,1,3658,3659,0.03
864,2023-09-30,Kittitas,WA,Passenger,381,108,489,28235,28724,1.70
1051,2023-09-30,Whatcom,WA,Truck,66,0,66,41100,41166,0.16
1554,2023-09-30,Clark,WA,Passenger,6416,2458,8874,304063,312937,2.84
1626,2023-09-30,Skagit,WA,Passenger,1221,445,1666,85776,87442,1.91
...,...,...,...,...,...,...,...,...,...,...
17436,2023-09-30,Garfield,WA,Passenger,0,3,3,1255,1258,0.24
17691,2023-09-30,Jefferson,WA,Truck,12,0,12,9034,9046,0.13
18482,2023-09-30,Pierce,WA,Truck,189,0,189,131293,131482,0.14
18544,2023-09-30,Pend Oreille,WA,Truck,0,0,0,5421,5421,0.00
18952,2023-09-30,Kittitas,WA,Truck,11,0,11,14043,14054,0.08

In [5]:
num_ev = filtered_df['Electric Vehicle (EV) Total'].sum()
num_total = filtered_df['Total Vehicles'].sum()
num_ev_pct = num_ev / num_total

In [6]:


num_bev = filtered_df['Battery Electric Vehicles (BEVs)'].sum()
num_bev

116832

In [7]:

num_pev = filtered_df['Plug-In Hybrid Electric Vehicles (PHEVs)'].sum()
num_pev

33670

In [8]:
num_total

5962874

# Population dataset

In [9]:
dfpop = pd.read_csv(os.path.join(path, 'EV_population.csv'))
dfpop

,VIN (1-10),County,City,State,Postal Code,Model Year,Make,Model,Electric Vehicle Type,Clean Alternative Fuel Vehicle (CAFV) Eligibility,Electric Range,Base MSRP,Legislative District,DOL Vehicle ID,Electric Utility,2020 Census Tract,latitude,longtitude
0,5UXTA6C05P,Yakima,Yakima,WA,98903,2023,BMW,X5,Plug-in Hybrid Electric Vehicle (PHEV),Clean Alternative Fuel Vehicle Eligible,30,0,14,227153587,PACIFICORP,53077002803,-120.477805,46.553505
1,5YJSA1E24G,King,Seattle,WA,98103,2016,TESLA,MODEL S,Battery Electric Vehicle (BEV),Clean Alternative Fuel Vehicle Eligible,210,0,43,187728201,CITY OF SEATTLE - (WA)|CITY OF TACOMA - (WA),53033004902,-122.343010,47.659185
2,1N4AZ1CP5J,King,Shoreline,WA,98177,2018,NISSAN,LEAF,Battery Electric Vehicle (BEV),Clean Alternative Fuel Vehicle Eligible,151,0,32,249867971,CITY OF SEATTLE - (WA)|CITY OF TACOMA - (WA),53033020100,-122.382425,47.772790
3,5YJ3E1EA6J,Island,Coupeville,WA,98239,2018,TESLA,MODEL 3,Battery Electric Vehicle (BEV),Clean Alternative Fuel Vehicle Eligible,215,0,10,223792649,PUGET SOUND ENERGY INC,53029971100,-122.688071,48.217998
4,1G1FW6S00H,Kitsap,Seabeck,WA,98380,2017,CHEVROLET,BOLT EV,Battery Electric Vehicle (BEV),Clean Alternative Fuel Vehicle Eligible,238,0,35,125032974,PUGET SOUND ENERGY INC,53035091301,-122.847462,47.638360
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
153482,1N4AZ0CP0D,San Juan,Eastsound,WA,98245,2013,NISSAN,LEAF,Battery Electric Vehicle (BEV),Clean Alternative Fuel Vehicle Eligible,75,0,40,154379130,BONNEVILLE POWER ADMINISTRATION||ORCAS POWER &...,53055960103,-122.907229,48.701672
153483,5YJSA1E27H,Spokane,Spokane,WA,99223,2017,TESLA,MODEL S,Battery Electric Vehicle (BEV),Clean Alternative Fuel Vehicle Eligible,210,0,6,204991475,BONNEVILLE POWER ADMINISTRATION||INLAND POWER ...,53063013401,-117.369705,47.626370
153484,1G1FW6S03P,King,Seatac,WA,98188,2023,CHEVROLET,BOLT EV,Battery Electric Vehicle (BEV),Eligibility unknown as battery range has not b...,0,0,33,244720059,PUGET SOUND ENERGY INC||CITY OF TACOMA - (WA),53033028801,-122.291790,47.434730
153485,3FMTK3SU1M,King,Kent,WA,98031,2021,FORD,MUSTANG MACH-E,Battery Electric Vehicle (BEV),Eligibility unknown as battery range has not b...,0,0,33,186104215,PUGET SOUND ENERGY INC||CITY OF TACOMA - (WA),53033029206,-122.201252,47.393181
153486,1N4AZ0CP0D,Pierce,Tacoma,WA,98407,2013,NISSAN,LEAF,Battery Electric Vehicle (BEV),Clean Alternative Fuel Vehicle Eligible,75,0,27,153724504,BONNEVILLE POWER ADMINISTRATION||CITY OF TACOM...,53053060500,-122.511336,47.292383

In [10]:
dfpop.columns

Index(['VIN (1-10)', 'County', 'City', 'State', 'Postal Code', 'Model Year',
       'Make', 'Model', 'Electric Vehicle Type',
       'Clean Alternative Fuel Vehicle (CAFV) Eligibility', 'Electric Range',
       'Base MSRP', 'Legislative District', 'DOL Vehicle ID',
       'Electric Utility', '2020 Census Tract', 'latitude', 'longtitude'],
      dtype='object')

In [11]:
dfwa = dfpop[dfpop['State']=='WA']
selected = ['County', 'latitude', 'longtitude']
df_con = dfwa[selected].drop_duplicates()

In [12]:
df_con.columns = ['county', 'lat', 'lon']

In [13]:

out_json = df_con.to_json(orient='records', indent=2)

with open('../data/test.json', 'w') as f:
    f.write(out_json)

In [14]:
useful_cols = ['County', 'City', 'State', 'Postal Code', 'Model Year',
       'Make', 'Model', 'Electric Vehicle Type', 'DOL Vehicle ID', 
       'latitude', 'longtitude']

# County

In [15]:
dfpop['County'].unique()

array(['Yakima', 'King', 'Island', 'Kitsap', 'Snohomish', 'Thurston',
       'Clark', 'Whitman', 'Grant', 'Stevens', 'Chelan', 'Walla Walla',
       'Spokane', 'Kittitas', 'Pierce', 'Skagit', 'Douglas', 'Cowlitz',
       'Clallam', 'Jefferson', 'Lewis', 'Benton', 'Whatcom', 'Klickitat',
       'Pend Oreille', 'Mason', 'Ferry', 'Skamania', 'Grays Harbor',
       'Franklin', 'San Juan', 'Okanogan', 'Adams', 'Asotin', 'Pacific',
       'Wahkiakum', 'Columbia', 'Lincoln', 'Garfield'], dtype=object)

In [16]:
# aggregate by County and count the number of records
df_newd = dfpop.groupby('County').agg({'DOL Vehicle ID': 'count'})

In [17]:
all_counties = df_newd.sort_values('DOL Vehicle ID', ascending=False)

In [18]:
all_counties.columns = ['number']
all_counties.to_csv('../data/topc.csv')

In [149]:
df_newd = df_newd.reset_index()
df_newd.columns = ['county', 'count']
df_newd = df_newd.sort_values(by=['count'], ascending=False)

In [150]:
df_newd

          county  count
16          King  80637
30     Snohomish  17727
26        Pierce  11804
5          Clark   9061
33      Thurston   5514
17        Kitsap   5079
31       Spokane   3820
36       Whatcom   3747
2         Benton   1860
28        Skagit   1713
14        Island   1673
4        Clallam    929
3         Chelan    892
15     Jefferson    886
27      San Juan    865
38        Yakima    844
7        Cowlitz    780
22         Mason    717
20         Lewis    634
13  Grays Harbor    544
10      Franklin    515
18      Kittitas    512
12         Grant    480
35   Walla Walla    376
8        Douglas    304
37       Whitman    273
19     Klickitat    254
23      Okanogan    212
32       Stevens    195
24       Pacific    182
29      Skamania    167
1         Asotin     65
34     Wahkiakum     51
25  Pend Oreille     46
0          Adams     43
21       Lincoln     40
9          Ferry     26
6       Columbia     17
11      Garfield      3

In [19]:
import json
import pandas as pd

# Load GeoJSON data
with open('../data/united_states_washington_administrative_boundaries_level6_counties_polygon.geojson') as f:
    geojson_data = json.load(f)

# Load CSV data using pandas
csv_data = pd.read_csv('../data/topc.csv')

# Create a dictionary from CSV data with County names as keys and corresponding numbers as values
csv_dict = dict(zip(csv_data['County'] + ' County', csv_data['number']))

# Update GeoJSON population values based on the CSV data
for feature in geojson_data['features']:
    county_name = feature['properties']['name']
    if county_name in csv_dict:
        feature['properties']['population'] = csv_dict[county_name]  # Convert to string as needed

# Save the modified GeoJSON data
with open('../data/modified_geojson_file.geojson', 'w') as outfile:
    json.dump(geojson_data, outfile)